.progress {
    margin-bottom: 20px;
    padding-right: 0px;
    border-radius: 10px;
    background: #e8e8e8;
}
.border-gray{
    border-color: #c4c4c4 !important;
}
.progress-bar {
    width: 0;
}
.title_tech_stack{
    font-family: Arial;
}

.progress .progress-bar {
    transition: unset;
}